.wrapper {
    display: flex;
    background-color: #9CC685;
    padding: 3rem 6rem 3rem 3rem;
}

.nav {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    flex-direction: column;
}

.nav ul>:last-child {
    margin-top: auto;
}

.nav ul>*:not(:last-child) {
    margin-bottom: .5rem;
}

.nav a {
    color: #fff;
}