.wrapper {
    display: flex;
    background-color: #17212B;
    padding: 0 0 3rem 0rem;
    flex-basis: 15%;

}

.nav {
    padding-top: 3rem;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    gap: 1px;
    flex-grow: 1;
}

.nav li {
    transition: all .5s ease-out;
    cursor: pointer;
    padding: 12px 2rem;
    background: linear-gradient(to right, #2B5378 50%, transparent 50%) right;
    background-size: 200% 100%;
}

.nav li:last-child {
    margin-top: auto;
}

.nav li:hover, .nav li:focus {
    /*transform: scale(1.1) translateX(7%);*/
    transition: all .2s ease-out;
    background-position: left;
}

.nav li.active {
    background-position: left;
}

.nav a {
    color: #E4ECF2;
}