.wrapper {
    display: flex;
    background-color: var(--section-bg);
    flex-basis: 20%;
    flex-shrink: 0;

    transition: flex-basis .5s ease;
}

nav {
    padding: 3rem 0 2rem;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    flex-grow: 1;
}

nav a {
    display: block;
    padding: 1rem 1.5rem;
    color: var(--blue-white);
}

nav li:last-child {
    margin-top: auto;
}

nav a:hover:not(nav a.active), nav a:focus:not(nav a.active) {
    background-color: var(--blue-hover);
}

nav a.active {
    background-color: var(--tg-blue);
}

.item {
    display: flex;
    align-items: center;
    gap: 1rem
}

@media (max-width: 992px) {
    nav a {
        padding: 1rem;
    }
    .icon {
        padding: 0;
    }
    .item {
        justify-content: center;
    }
    .text {
        display: none;
    }
    .wrapper {
        flex-basis: 10%;
    }
}