.dialogs_element {
  display: flex;
  padding: .4rem .7rem;
  gap: .7rem;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

a.dialogs_element:hover:not(.active), a.dialogs_element:focus:not(.active) {
  background-color: var(--blue-hover);
}

.active {
  background-color: var(--tg-blue);
}

.dialog_user_avatar {
  height: 50px;
}

.dialog_user_avatar img {
  height: 100%;
}

.dialog_text_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: .5rem 0 0;
}

.text_info_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.user_name {
  color: var(--blue-white);
  font-weight: bold;
}

.last_message {
  font-size: 13px;
  color: var(--blue-grey);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.dialog_meta {
  display: flex;
  margin-left: auto;
  gap: var(--module-gap);
  font-size: 14px;
  color: var(--grey);
}

.last_message_time {
  font-size: 13px;
}