.dialogs_element {
  display: flex;
  padding: .4rem .7rem;
  gap: .7rem;
  align-items: center;
  cursor: pointer;
}

a.dialogs_element:hover:not(.active), a.dialogs_element:focus:not(.active) {
  background: #202B36;
}

.active {
  background: #2B5378;
}

.dialog_user_avatar {
  height: 50px;
}

.dialog_user_avatar img {
  height: 100%;
}

.dialog_text_info {
  width: 100%;
  padding: .5rem 0 0;
}

.text_info_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.user_name {
  color: #E4ECF2;
  font-weight: bold;
}

.last_message {
  font-size: 13px;
  color: #91A3B5;
}

.dialog_meta {
  display: flex;
  gap: .5rem;
  font-size: 14px;
  color: #8E8E8E;
}

.time {
  font-size: 12px;
}