.container {
    display: flex;
    align-items: center;
    flex: auto;
    padding: 0 2rem;
    color: #E4ECF2;
}

.container img {
    width: 150px;
    margin-right: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info > * {
    margin-bottom: 0.5rem;
}