.wrapper {
    padding: 5rem 2rem 15rem 2rem;
}

.add {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}

.textarea {
    margin-bottom: 2rem;

}

.textarea textarea {
    width: 100%;
    padding: 1.5rem 0 0 1rem;
    resize: none;
    max-height: 150px;
    background-color: #67737D;
    border-radius: 10px;
}

.textarea textarea::placeholder {
    color: #E4ECF2;
}

.button {
    margin-left: auto;
}

.button {
    border-radius: 3px;
    padding: 0.6rem 1.5rem;
    color: #E4ECF2;
    font-size: 16px;
    background: linear-gradient(45deg, #24B59E, #A450A8 50%) left bottom;
    background-size: 200% 100%;
    transition: background-position .5s ease-out;
    cursor: pointer;
}
.button:hover {
    background-position: right top;
    transition: background-position .4s ease-out;
}

.posts {
    display: flex;
    flex-direction: column;
}
