.wrapper {
  max-width: 500px;
  margin-bottom: 2rem;
}

.body {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.user_info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user_avatar {
  margin-right: 1rem;
  height: 100%;
}

.user_avatar img {
  height: 50px;
}

.user_name {
  margin-bottom: .1rem;
}

.time_published {
  font-size: 13px;
}

.content {
  width: 100%;
  font-size: 16px;
  height: 100%;
  border-radius: 3px;
}

.post_text {
  margin-bottom: .5rem;
}

.main_img_wrapper, .img_gallery_item {
  cursor: pointer;
}

.main_img_wrapper {
  margin-bottom: 1px;
}

.main_img_wrapper img {
  width: 100%;
}

.actionWrapper {
  display: flex;
}

.action {
  display: flex;
  margin-left: auto;
  font-weight: bold;
  padding-right: 1.5rem;
}

.button {
  cursor: pointer;
}

.actionLike {
  margin: 0 1rem 0 0;
  color: var(--blue-bright);
}

.actionDislike {
  color: grey;
}

