.wrapper {

}

.input {
  margin-bottom: var(--module-gap);
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--section-bg);
  padding: 2rem 1rem;
}
