.wrapper {
    background-color: var(--section-bg);
    margin-bottom: var(--module-gap);
    height: 100px;
    display: flex;
    align-items: center;
}

.logo_container {
    margin-left: 1rem;
}

.logo_container, .login_container {
    flex-basis: 15%;
}

.login_container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-items: center;
}

.login_item {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.login_item:hover {
    background-color: var(--blue-hover);
}

.ava_container {
    max-width: 40px;
    max-height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: var(--module-gap);
}

.login_item img {
    max-width: 100%;
}

.login_icon {
    margin-bottom: var(--module-gap);
    font-size: 20px;
}

.login_item span {
    font-size: .8rem;
}

.logo_container {
    position: relative;
    height: 100%;
    display: inline-block;
}

.logoBg {
    border-radius: 50%;
    height: 100%;
    /*animation: App-logo-spin-left infinite 10s linear;*/
}

.logoFace {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    animation: App-logo-spin-right infinite 40s linear;
}

@keyframes App-logo-spin-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-spin-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.title {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

/*.title h1 {*/
/*    background: linear-gradient(45deg, #24B59E, #2B5378, #A450A8) left bottom;*/
/*    background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/
.title h1 {
    /*background: linear-gradient(45deg, #24B59E, #A450A8) left bottom;*/
    background: linear-gradient(45deg, var(--blue-bright), var(--pink)) left bottom;
    background-size: 200% 100%;
    animation: gradient 10s ease infinite;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}