.body {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    height: 120px;
}

.imgContainer {
    padding: 0 2rem 0 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.body img {
    height: 105px;
    width: 105px;
    object-fit: cover;
    object-position: -15px;
    border-radius: 50%;
}

.content {
    width: 100%;
    font-size: 16px;
    background-color: #67737D;
    color: #E4ECF2;
    padding: 1rem  2rem;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.actionWrapper {
    display: flex;
}

.action {
    display: flex;
    margin-left: auto;
    font-weight: bold;
    padding-right: 1.5rem;
}

.button {
    cursor: pointer;
}

.actionLike {
    color: #e83939;
    margin: 0 2rem 0 0;
}

.actionDislike {
    color: grey;
}
