* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-family: sans-serif;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

#root {
    height: 100%;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.header {
    background-color: #9CC685;
    margin-bottom: .5rem;
}

.header__logo {
    display: inline-block;
    padding: 1rem 0 1rem 2rem;
    color: #fff;
}
.main {
    display: flex;
    flex: auto;
}
.sidebar {
    display: flex;
    background-color: #9CC685;
    padding: 3rem 6rem 3rem 3rem;
}

.sidebar__menu {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.sidebar__menu ul {
    display: flex;
    flex-direction: column;
}

.sidebar__menu ul>:last-child {
    margin-top: auto;
}

.sidebar__menu ul>*:not(:last-child) {
    margin-bottom: .5rem;
}

.sidebar__menu a {
    color: #fff;
}

.content {
    flex: auto;
}

.content__profile {
    display: flex;
    flex-direction: column;
    background-color: #D1DD9A;
    margin-left: .5rem;
    height: 100%;
}

.content__wallpaper {
    margin-bottom: 3rem;
}
.content__wallpaper img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.content__person {
    display: flex;
    align-items: center;
    flex: auto;
}

.content__person img {
    width: 200px;
    height: 200px;
    margin: 0rem 2rem 0 2rem
}

.content__info>* {
    margin-bottom: .5rem;
}


