.content {
    flex: auto;
}

.profile {
    display: flex;
    flex-direction: column;
    background-color: #D1DD9A;
    margin-left: .5rem;
    height: 100%;
}

.wallpaper {
    margin-bottom: 3rem;
}
.wallpaper img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.person {
    display: flex;
    align-items: center;
    flex: auto;
}

.person img {
    width: 200px;
    height: 200px;
    margin: 0rem 2rem 0 2rem
}

.info>* {
    margin-bottom: .5rem;
}