.wrapper {
    display: flex;
    gap: .5rem;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 15%;
    padding: 2rem 1rem;
    flex-grow: 0;
    background-color: #17212B;
}

.avatar {
    max-width: 200px;
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: .5rem
}

.data {
    display: flex;
    flex-direction: column;
    background-color: #17212B;
    padding: 2rem;
}

.text_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.text_data > * {
    margin-bottom: 0.5rem;
}

.stats {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
}

.stats_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------Parallax Cover:------- */

/*.cover {
    position: relative;
    height: 250px;
    margin-bottom: 3rem;
}*/


/*-------Static Cover:------- */

.cover {
    position: relative;
    margin-bottom: 3rem;
    height: 250px;
    padding: 0;
}

.cover:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url('../../../../../img/cover.webp');
    background-size: cover;
    transform-origin: center center 0;
}

.stats_item {
    cursor: pointer;
}

.stats_count {
    font-weight: bold;
    color: #2499D6;
    margin-bottom: 5px;
}
