.wrapper {}

.profile_data {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: #E4ECF2;
}

.profile_data img {
    width: 150px;
    margin-right: 2rem;
}

.text_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_data > * {
    margin-bottom: 0.5rem;
}

/*-------Parallax Cover:------- */

/*.cover {
    position: relative;
    height: 250px;
    margin-bottom: 3rem;
}*/


/*-------Static Cover:------- */

.cover {
    position: relative;
    margin-bottom: 3rem;
    height: 250px;
    padding: 0;
}

.cover:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url('../../../../../img/cover.webp');
    background-size: cover;
    transform-origin: center center 0;
}
