.list_element {
  display: flex;
  padding: .4rem .7rem;
  gap: .7rem;
  align-items: center;
  cursor: pointer;
  width: 100%;
  min-height: 100px;
  background-color: var(--section-bg);
}

a.list_element:hover:not(.active), a.list_element:focus:not(.active) {
  background-color: var(--blue-hover);
}

.active {
  background-color: var(--tg-blue);
}

.avatar {
  height: 70px;
}

.avatar img {
  height: 100%;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: .5rem 0 0;
}

.data_top_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.user_name {
  font-size: 1.2rem;
  color: var(--blue-white);
  font-weight: bold;
}

.status {
  font-size: 13px;
  color: var(--blue-grey);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.action {
  display: flex;
  margin-left: auto;
  gap: var(--module-gap);
  font-size: 1.3rem;
  color: var(--grey);
}

.last_message_time {
  font-size: 13px;
}